@charset "utf-8";

/*---------------------------------------------------------------------------*/
/* feathericon
/*---------------------------------------------------------------------------*/

/**
 * @font-face
 */
@font-face {
  font-family: "feathericon";
  src: url('../fonts/feathericon.eot');
  src: url('../fonts/feathericon.eot?#iefix') format('eot'),
    url('../fonts/feathericon.woff') format('woff'),
    url('../fonts/feathericon.ttf') format('truetype'),
    url('../fonts/feathericon.svg#feathericon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 * classes
 */
.fe:before {
  display: inline-block;
  font-family: "feathericon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fe-arrow-down:before { content: "\ea01" }
.fe-arrow-left:before { content: "\ea02" }
.fe-arrow-right:before { content: "\ea03" }
.fe-arrow-up:before { content: "\ea04" }
.fe-artboard:before { content: "\ea05" }
.fe-bar-chart:before { content: "\ea06" }
.fe-bar:before { content: "\ea07" }
.fe-beer:before { content: "\ea08" }
.fe-bell:before { content: "\ea09" }
.fe-book:before { content: "\ea0a" }
.fe-borthday-cake:before { content: "\ea0b" }
.fe-browser:before { content: "\ea0c" }
.fe-brush:before { content: "\ea0d" }
.fe-bug:before { content: "\ea0e" }
.fe-building:before { content: "\ea0f" }
.fe-calendar:before { content: "\ea10" }
.fe-camera:before { content: "\ea11" }
.fe-check-o:before { content: "\ea12" }
.fe-check:before { content: "\ea13" }
.fe-clock:before { content: "\ea14" }
.fe-close:before { content: "\ea15" }
.fe-cloud:before { content: "\ea16" }
.fe-cocktail:before { content: "\ea17" }
.fe-code:before { content: "\ea18" }
.fe-columns:before { content: "\ea19" }
.fe-comment:before { content: "\ea1a" }
.fe-commenting:before { content: "\ea1b" }
.fe-comments:before { content: "\ea1c" }
.fe-cooffee:before { content: "\ea1d" }
.fe-desktop:before { content: "\ea1e" }
.fe-diamond:before { content: "\ea1f" }
.fe-disabled:before { content: "\ea20" }
.fe-download:before { content: "\ea21" }
.fe-drop-down:before { content: "\ea22" }
.fe-drop-left:before { content: "\ea23" }
.fe-drop-right:before { content: "\ea24" }
.fe-drop-up:before { content: "\ea25" }
.fe-elipsis-h:before { content: "\ea26" }
.fe-elipsis-v:before { content: "\ea27" }
.fe-eye:before { content: "\ea28" }
.fe-feed:before { content: "\ea29" }
.fe-flag:before { content: "\ea2a" }
.fe-folder:before { content: "\ea2b" }
.fe-fork:before { content: "\ea2c" }
.fe-globe:before { content: "\ea2d" }
.fe-hash:before { content: "\ea2e" }
.fe-heart:before { content: "\ea2f" }
.fe-home:before { content: "\ea30" }
.fe-info:before { content: "\ea31" }
.fe-key:before { content: "\ea32" }
.fe-keyboard:before { content: "\ea33" }
.fe-laptop:before { content: "\ea34" }
.fe-layout:before { content: "\ea35" }
.fe-line-chart:before { content: "\ea36" }
.fe-link-external:before { content: "\ea37" }
.fe-link:before { content: "\ea38" }
.fe-location:before { content: "\ea39" }
.fe-lock:before { content: "\ea3a" }
.fe-login:before { content: "\ea3b" }
.fe-logout:before { content: "\ea3c" }
.fe-mail:before { content: "\ea3d" }
.fe-medal:before { content: "\ea3e" }
.fe-megaphone:before { content: "\ea3f" }
.fe-mensioned:before { content: "\ea40" }
.fe-minus:before { content: "\ea41" }
.fe-mobile:before { content: "\ea42" }
.fe-mouse:before { content: "\ea43" }
.fe-pallette:before { content: "\ea44" }
.fe-pencil:before { content: "\ea45" }
.fe-phone:before { content: "\ea46" }
.fe-pie-chart:before { content: "\ea47" }
.fe-pizza:before { content: "\ea48" }
.fe-plus:before { content: "\ea49" }
.fe-prototype:before { content: "\ea4a" }
.fe-question:before { content: "\ea4b" }
.fe-quote-left:before { content: "\ea4c" }
.fe-quote-right:before { content: "\ea4d" }
.fe-rocket:before { content: "\ea4e" }
.fe-search:before { content: "\ea4f" }
.fe-share:before { content: "\ea50" }
.fe-sitemap:before { content: "\ea51" }
.fe-star:before { content: "\ea52" }
.fe-tablet:before { content: "\ea53" }
.fe-tag:before { content: "\ea54" }
.fe-terminal:before { content: "\ea55" }
.fe-ticket:before { content: "\ea56" }
.fe-tiled:before { content: "\ea57" }
.fe-trash:before { content: "\ea58" }
.fe-trophy:before { content: "\ea59" }
.fe-upload:before { content: "\ea5a" }
.fe-user-plus:before { content: "\ea5b" }
.fe-user:before { content: "\ea5c" }
.fe-users:before { content: "\ea5d" }
.fe-vector:before { content: "\ea5e" }
.fe-video:before { content: "\ea5f" }
.fe-warning:before { content: "\ea60" }
.fe-wearable:before { content: "\ea61" }
.fe-wine-glass:before { content: "\ea62" }
.fe-wrench:before { content: "\ea63" }
