@charset "utf-8";

/* -------------------------------------------------------------- */
/* content
/* -------------------------------------------------------------- */

%codeStyle {
  border-radius: 4px;
  background-color: $colorGrayLighten;
  font-family: $fontFamilyCode;
  font-size: 12px;
}

%marginStyle {
  margin-top: $textMarginTop;
  margin-bottom: $textMarginBottom;
}


.s-content {
  max-width: $contentWidth;
  margin: 0 auto;
  color: $colorBlack;
  &__title {
    margin-top: 0;
    margin-bottom: $textMarginBottom;
    color: $colorBlack;
    font-size: 32px;
  }
  &__heading {
    line-height: 1.2;
    margin-top: $textMarginBottom;
    margin-bottom: $textMarginTop;
    &--3 {
      font-size: 26px;
      padding-bottom: 6px;
      border-bottom: 1px solid $colorGray;
    }
  }
  p {
    @extend %marginStyle;
    &:first-child,
    &:last-child {
      margin-bottom: 10px;
    }
  }
  ul, ol {
    @extend %marginStyle;
    padding-left: 20px;
    line-height: 1.2;
    li {
      margin-bottom: $textMarginTop;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  pre {
    @extend %codeStyle;
    margin: $baseMargin 0;
    padding: 16px 20px;
    line-height: 1.6;
  }
  code {
    @extend %codeStyle;
    padding: 3px 4px;
    margin: 0 4px;
    vertical-align: middle;
    color: red;
  }
}
