@charset "utf-8";

/* -------------------------------------------------------------- */
/* top
/* -------------------------------------------------------------- */
.glyph {
  max-width: 840px;
  margin: 0 auto;
  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  &__item {
    @extend %clearfix;
    width: 25%;
    margin-bottom: 32px;
    padding: 5px 10px;
    list-style-type: none;
    transition: .3s;
    &:hover {
      background-color: $colorCyan;
      i, span {
        color: #fff;
      }
    }
  }
  &__icon {
    display: block;
    float: left;
    vertical-align: baseline;
    color: #444;
  }
  &__name,
  &__codepoint {
    margin-left: 26px;
    display: block;
    line-height: 1;
  }
  &__name {
    color: #444;
    font-size: 14px;
    margin-bottom: 4px;
  }
  &__codepoint {
    color: $colorGreen;
    font-size: 12px;
    font-style: italic;
  }
}
