@charset "utf-8";

/* -------------------------------------------------------------- */
/* top
/* -------------------------------------------------------------- */
.glyph {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 2em 0;
  }
  &__item {
    margin: 10px;
    width: 5em;
    padding: 10px;
    text-align: center;
    list-style-type: none;
    transition: .3s;
    &:hover {
      background-color: $colorCyan;
      i, span {
        color: #fff;
      }
    }
  }
  &__icon {
    font-size: 28px;
    color: #555;
  }
  &__name {
    margin-top: 8px;
  }
  &__name,
  &__codepoint {
    font-size: .5em;
    color: #999;
    display: block;
  }
}
