@charset "utf-8";

/* -------------------------------------------------------------- */
/* buttons
/* -------------------------------------------------------------- */

%btnBase {
  display: inline-block;
  text-align: center;
  padding: 0.75rem 1rem 0.8rem 1rem;
  margin: 0 auto 20px auto;
  border-radius: 24px;
  line-height: 1;
}

.button {
  @extend %btnBase;
  margin: 0 auto 20px auto;
  text-decoration: none;
  &--white {
    background: #fff;
    color: $colorGreen;
    &:hover {
      background: $colorGreen;
      color: #fff;
    }
  }
  &--green {
    background: $colorGreen;
    border: 1px solid $colorGreen;
    color: #fff;
    &:hover {
      background: #fff;
      color: $colorGreen;
    }
  }
  &--black {
    background: $colorBlack;
    border: 1px solid $colorBlack;
    color: #fff;
    &:hover {
      background: #fff;
      color: $colorBlack;
    }
  }
  &.download {
    width: 200px;
    font-weight: 600;
    &:before {
      @include fe('\f120', $valign: middle);
      margin-right: 5px;
    }
  }
}
