@charset "utf-8";

/* -------------------------------------------------------------- */
/* Site Description
/* -------------------------------------------------------------- */
.siteDescription {
  margin-top: 0;
  margin-bottom: 16px;
  color: $colorBlack;
  font-weight: 600;
  font-size: 2rem;
}
