@charset "utf-8";

/* -------------------------------------------------------------- */
/* Siteinfo
/* -------------------------------------------------------------- */
.siteinfo {
  padding: 40px 0;
  background-color: $colorGrayLighten;
  text-align: center;
  color: $colorGrayDarken;
  &__text {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.1;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $colorGrayDarken;
      font-weight: bold;
    }
  }
  &__author {
    &:before {
      @include fe('\f12e', $fontSize: 1.1rem);
      margin: 0 5px;
    }
  }
}
