@charset "utf-8";

//---------------------------------------------------------------------------
// <%= font_name %>
//---------------------------------------------------------------------------

//
// variables
//
$<%= font_name %>-font-path: '<%= @options[:preprocessor_path] %>' !default;

//
// font path
//
@font-face {
  font-family: '<%= font_name %>';
  src: url('#{$<%= font_name %>-font-path}<%= font_name %>.eot');
  src: url('#{$<%= font_name %>-font-path}<%= font_name %>.eot?#iefix') format('embedded-opentype'),
    url('#{$<%= font_name %>-font-path}<%= font_name %>.woff') format('woff'),
    url('#{$<%= font_name %>-font-path}<%= font_name %>.ttf') format('truetype'),
    url('#{$<%= font_name %>-font-path}<%= font_name %>.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

//
// feathericon
//
.fe {
  display: inline-block;
  font: normal normal normal 16px <%= font_name %>;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
// all icons
//
<%= glyphs %>
