@charset "utf-8";

//---------------------------------------------------------------------------
// <%= font_name %>
//---------------------------------------------------------------------------

//
// font path
//
@font-face {
  $path: '<%= @options[:preprocessor_path] %>';
  font-family: '<%= font_name %>';
  src: url('#{$path}/<%= font_name %>.eot');
  src: url('#{$path}/<%= font_name %>.eot?#iefix') format('embedded-opentype'),
    url('#{$path}/<%= font_name %>.woff2') format('woff2'),
    url('#{$path}/<%= font_name %>.woff') format('woff'),
    url('#{$path}/<%= font_name %>.ttf') format('truetype'),
    url('#{$path}/<%= font_name %>.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//
// feathericon
//
.fe{
  display: inline-block;
  font: normal normal normal 1/16 <%= font_name %>;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
// all icons
//
<%= glyphs %>
