@charset "utf-8";

/*---------------------------------------------------------------------------*/
/* <%= fontName %>
/*---------------------------------------------------------------------------*/

/**
 * font path
 */
@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 * classes
 */
.<%= className %> {
  display: inline-block;
  font: normal normal normal 16px/1 <%= fontName %>;
  font-size: inherit;
  line-height: 1;
  vertical-align: baseline;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before {
  content: "\<%= glyph.codepoint.toString(16).toLowerCase() %>";
}
<% }); %>
