@charset "utf-8";

/*---------------------------------------------------------------------------*/
/* <%= font_name %>
/*---------------------------------------------------------------------------*/

/**
 * font path
 */
<%= font_face %>

/**
 * feathericon
 */
 .fe {
   display: inline-block;
   font: normal normal normal 1/16 <%= font_name %>;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

/**
 * all icons
 */
<%= glyphs %>
