@charset "utf-8";

/*---------------------------------------------------------------------------*/
/* <%= font_name %>
/*---------------------------------------------------------------------------*/

/**
 * font path
 */
 @font-face {
  font-family: '<%= font_name %>';
  src: url('<%= @options[:preprocessor_path] %><%= font_name %>.eot');
  src: url('<%= @options[:preprocessor_path] %><%= font_name %>.eot?#iefix') format('embedded-opentype'),
    url('<%= @options[:preprocessor_path] %><%= font_name %>.woff') format('woff'),
    url('<%= @options[:preprocessor_path] %><%= font_name %>.ttf') format('truetype'),
    url('<%= @options[:preprocessor_path] %><%= font_name %>.svg') format('svg');
  font-weight: normal;
  font-style: normal;
 }


/**
 * feathericon
 */
.fe {
  display: inline-block;
  font: normal normal normal 16px <%= font_name %>;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

/**
 * all icons
 */
<%= glyphs %>
