<html>
  <head>
    <title><%= fontName %></title>
    <link href="css/<%= fontName %>.css" rel="stylesheet">
    <link href="src/css/application.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  </head>
  <body>
    <header class="l-header">
      <h1><%= fontName %><small> [&beta;]</small></h1>
      <a href="https://github.com/featherplain/feathericon" class="button button-download">Download</a>
    </header>
    <div class="l-main">
      <ul class="glyph"><% _.each(glyphs, function(glyph) { %>
        <li>
          <span class="<%= className %> <%= className %>-<%= glyph.name %>"></span>
          <span class="glyph-name"><%= className %>-<%= glyph.name %></span>
          <span class="glyph-codepoint"><%= glyph.codepoint.toString(16).toLowerCase() %></span>
        </li><% }); %>
      </ul>
    </div>
  </body>
</html>
