@charset "utf-8";

/* -------------------------------------------------------------- */
/* header
/* -------------------------------------------------------------- */

/**
 * l-header
 */
.l-header {
  margin-bottom: 40px;
}

/**
 * siteBrand
 */
.siteBrand {
  &__title {
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__description {
    margin-top: 0;
  }
}
