@charset "utf-8";

/* -------------------------------------------------------------- */
/* layout
/* -------------------------------------------------------------- */
.l-main {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 40px;
}
