@charset "utf-8";

/* -------------------------------------------------------------- */
/* layout
/* -------------------------------------------------------------- */
.l-cover {
  padding-bottom: 40px;
  text-align: center;
  background-color: $colorCyan;
  color: #fff;
  &__inner {
    @extend %gridBase;
  }
}

.l-main {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 40px 0;
}
