@charset "utf-8";

/* -------------------------------------------------------------- */
/* navigation
/* -------------------------------------------------------------- */

/**
 * l-nav
 */
.l-nav {
  @extend %clearfix;
  width: 100%;
  height: 50px;
  &--footer {
    height: 40px;
  }
}

/**
 * globalMenu
 */
.globalMenu {
  float: right;
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 0 10px;
    a {
      color: #fff;
      &:after {
        display: block;
        content: '';
        width: 0;
        height: 1px;
        margin-top: 5px;
        background-color: #fff;
        transition: width .3s;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
}
