@charset "utf-8";

//----------------------------------------------------------------------------
// color
//----------------------------------------------------------------------------
$colorCyan          : #2bdade;
$colorGreen         : #1ba1ab;
$colorBlack         : #4a4a4a;
$colorGray          : #c1c0c1;
$colorGrayDarken    : #9b9b9b;
$colorGrayLighten   : #f1f1f1;
$colorLink          : $colorGreen;

//----------------------------------------------------------------------------
// path
//----------------------------------------------------------------------------
$imgPath           : '../images/';

//----------------------------------------------------------------------------
// font
//----------------------------------------------------------------------------
$fontFamily         : 'Lato', Sans-Serif;
$fontFamilyCode     : Menlo, Consolas, Courier, sans-serif;

//----------------------------------------------------------------------------
// grid
//----------------------------------------------------------------------------
$maxWidth           : 1080px;
