@charset "utf-8";

//----------------------------------------------------------------------------
// color
//----------------------------------------------------------------------------
$colorCyan          : #2bdade;
$colorGreen         : #1ba1ab;
$colorBlack         : #4a4a4a;
$colorGray          : #c1c0c1;
$colorGrayDarken    : #9b9b9b;
$colorGrayLighten   : #f1f1f1;
$colorLink          : $colorGreen;

//----------------------------------------------------------------------------
// path
//----------------------------------------------------------------------------
$imgPath           : '../images/';

//----------------------------------------------------------------------------
// font
//----------------------------------------------------------------------------
$fontFamily         : 'Lato', Sans-Serif;
$fontFamilyCode     : Menlo, Consolas, Courier, sans-serif;

@mixin fe($glyph: '\f101', $fontSize: inherit, $valign: baseline) {
  display: inline-block;
  content: $glyph;
  font: normal normal normal 16px/1 feathericon;
  font-size: $fontSize;
  line-height: 1;
  vertical-align: $valign;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//----------------------------------------------------------------------------
// grid
//----------------------------------------------------------------------------
$maxWidth           : 1080px;
$contentWidth       : 780px;

//----------------------------------------------------------------------------
// typography
//----------------------------------------------------------------------------
$baseMargin      : 16px;
$textMarginTop   : $baseMargin;
$textMarginBottom: $baseMargin * 3;
