@charset "utf-8";

/* -------------------------------------------------------------- */
/* default styles
/* -------------------------------------------------------------- */
/**
 * root element
 */
body {
  font-family: $fontFamily;
  background: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**
 * text-level semantics
 */
a {
  color: $colorLink;
  text-decoration: none;
  transition: .3s;
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

/**
 * list items
 */
ul,
ol {
  padding: 0;
  font-family: $fontFamily;
  list-style: none;
}
dl {
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
  dt {
    margin-bottom: 1em;
    font-weight: bold;
  }
  dd {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * grouping content
 */
iframe {
  vertical-align: middle;
}
/**
 * embeded content
 */
figure {
  margin: 0;
}
img,
embed,
iframe,
object {
  max-width: 100%;
  line-height: 1;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
