@charset "utf-8";

//--------------------------------------------------------------
// placeholder
//--------------------------------------------------------------
%gridBase {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
}
%clearfix {
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
    font-size: 0;
  }
}
