ul.menu
  li
    a(href="/getting-started.html") Getting Started
  li
    a(href=url.github.releases target="_blank" rel="noopener") Releases
  li
    a(href=url.github.root target="_blank" rel="noopener") GitHub
  li
    a(href=url.github.license target="_blank" rel="noopener") License
  li
    a(href='https://www.jsdelivr.com/package/npm/feathericon' target="_blank" rel="noopener") jsdeliver
