doctype html
html(xmlns:og="http://ogp.me/ns#", xmlns:fb='https://www.facebook.com/2008/fbml')
  head
    meta(charset='utf-8')
    block title
    block meta
      meta(name='description', content= page.top.description)
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(property='og:url', content='http://www.your-domain.com/your-page.html')
      meta(property='og:type', content='website')
      meta(property='og:title', content= page.top.name)
      meta(property='og:description', content= page.top.description)
      meta(property='og:image', content= page.top.ogpimage)
    block link
      link(rel='icon', href='/favicon.png')
      link(rel='shortcut icon', href='/favicon.ico')
      link(rel='apple-touch-icon', href='/apple-touch-icon.png')
      link(rel='stylesheet', href='build/feathericon.min.css')
      link(rel='stylesheet', href='src/css/application.css')
    block script
  body(class=bodyClass)
    block body
    block scriptFooter
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      //- script(src="../js/bundle.js")
