footer.l-footer
  nav.l-nav.l-nav--footer
    ul.footerMenu
      include ../modules/_navigation
  .siteinfo
    p.siteinfo__text
      span Created &amp; Maintained
      span.siteinfo__author by <a href="#{url.featherplain}">featherplain</a>
