footer.l-footer
  nav.l-nav.l-nav--footer
    ul.footerMenu
      include inc/modules/_navigation
  .siteinfo
    p.siteinfo__text Designed &amp; Maintained <i class="fe fe-heart"></i> by featherplain
