.l-cover
  .l-cover__inner
    header.l-header
      nav.l-nav
        ul.globalMenu
          include ../modules/_navigation
    .siteBrand
      h1.siteBrand__title feathericon
      p.siteBrand__description Scalale vector icons for websites
    a(href="#", class="button button-download") Download
