.l-cover
  .l-cover__inner
    header.l-header
      nav.l-nav
        ul.globalMenu
          include ../modules/_navigation
    .siteBrand
      h1.siteBrand__title
        a(href='/')= name
      p.siteBrand__description= page.top.description
    a.m-btn(href="https://github.com/feathericon/feathericon/archive/release.zip", class="m-btn--white m-btn-download") Download
