extends inc/layouts/_application
block title
  title Getting Started - #{page.top.title}
block prepend meta
  - var bodyClass = 'get-start'
block append meta
block body
  #fb-root
  include inc/scripts/_facebook
  include inc/layouts/_header
  .l-main
    .s-content
      h2.s-content__title Getting Started
      h3.s-content__heading.s-content__heading--3#basic Basic
      ol
        li Download ZIP.
        li
          | Copy the
          code css/
          | and
          code fonts/
          | directory to your project.
        li
          | In the
          code &lt;head&gt;
          | of your html, reference the location to your
          code feathericon.min.css
          | .
          pre &lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/css/feathericon.min.css&quot;&gt;
        li
          | Place feathericon with
          code &lt;i&gt;
          | tag in your html like this.
          code fe
          | class is required to use the icons correctly. Check out
          a(href='http://feathericon.com') the website
          |  to start using icons!
          pre &lt;i class="fe fe-heart"&gt;&lt;/i&gt;

      h3.s-content__heading.s-content__heading--3#developers For developers
      ol
        li
          | Install via
          a(href='https://npmjs.org')  npm
          |  or
          a(href='https://yarnpkg.com/')  yarn.
          pre
            | $ npm install feathericon --save
            | or
            | $ yarn add feathericon
          | If you're Ruby on Rails user, you can install via
          a(href='https://rubygems.org/')  RubyGems.
          |  We have
          a(href='https://github.com/feathericon/feathericon-sass')  feathericon-sass ( using with Sass )
          |  and
          a(href='https://github.com/feathericon/feathericon-rails')  feathericon-rails.
        li
          | Copy
          code fonts/
          | directory to your project.
          pre
            | $ cp -r node_modules/feathericon/build/fonts/ path/to/fonts
        li
          | You can simply point your Sass (SCSS)
          code include-path
          | at your
          code node_modules/
          | directory. This case is using
          a(href='https://www.npmjs.com/package/gulp-sass')  gulp-sass
          | .
          pre
            | gulp.task('sass', function () {
            |  return gulp.src('path/to/*.scss')
            |    .pipe(.sass({
            |      loadPath     : 'node_modules/feathericon/build/scss/',
            |      outputStyle  : 'compressed'
            |    }).on('error', $.sass.logError))
            |    .pipe(gulp.dest('path/to/css/'))
            | });
          | Then you can import it in your scss(sass) file.
          pre @import 'feathericon';
    // /. s-content
  // / .l-main
  include inc/layouts/_footer
block append scriptFooter
  script(async='', defer='', src='https://buttons.github.io/buttons.js')
  include inc/scripts/_analytics
