extends inc/layouts/_application
block title
  title= page.top.title
block prepend meta
  - var bodyClass = 'home'
block append meta
block body
  #fb-root
  include inc/scripts/_facebook
  include inc/layouts/_header
  .l-main
    include inc/modules/_icons
  include inc/layouts/_footer
block append scriptFooter
  script(async='', defer='', src='https://buttons.github.io/buttons.js')
  include inc/scripts/_analytics
