doctype html
html(xmlns:og="http://ogp.me/ns#", xmlns:fb='https://www.facebook.com/2008/fbml')
  head
    meta(charset='utf-8')
    block title
    block meta
      meta(name='description', content= page.top.description)
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(property='twitter:card', content='summary_large_image')
      meta(property='twitter:site', content='@featherplain')
      meta(property='fb:app_id', content='1774381786134166')
      meta(property='og:url', content= url.pages)
      meta(property='og:type', content='website')
      meta(property='og:title', content= page.top.title)
      meta(property='og:description', content= page.top.description)
      meta(property='og:image', content= page.top.ogpimage)
    block link
      link(rel='icon', href='/favicon.png')
      link(rel='shortcut icon', href='/favicon.ico')
      link(rel='apple-touch-icon', href='/apple-touch-icon.png')
      link(rel='stylesheet', href='/css/feathericon.min.css')
      link(rel='stylesheet', href='/css/application.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:400,600,700,800')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700')
    block script
  body(class=bodyClass)
    block body
    block scriptFooter
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      //- script(src="../js/bundle.js")
