.glyph
  ul.glyph__list
    li.glyph__item
      i.fe.fe-arrow-down.glyph__icon
      span.glyph__name fe-arrow-down
      span.glyph__codepoint f100
    li.glyph__item
      i.fe.fe-arrow-left.glyph__icon
      span.glyph__name fe-arrow-left
      span.glyph__codepoint f101
    li.glyph__item
      i.fe.fe-arrow-right.glyph__icon
      span.glyph__name fe-arrow-right
      span.glyph__codepoint f102
    li.glyph__item
      i.fe.fe-arrow-up.glyph__icon
      span.glyph__name fe-arrow-up
      span.glyph__codepoint f103
    li.glyph__item
      i.fe.fe-artboard.glyph__icon
      span.glyph__name fe-artboard
      span.glyph__codepoint f104
    li.glyph__item
      i.fe.fe-bar.glyph__icon
      span.glyph__name fe-bar
      span.glyph__codepoint f105
    li.glyph__item
      i.fe.fe-bar-chart.glyph__icon
      span.glyph__name fe-bar-chart
      span.glyph__codepoint f106
    li.glyph__item
      i.fe.fe-beer.glyph__icon
      span.glyph__name fe-beer
      span.glyph__codepoint f107
    li.glyph__item
      i.fe.fe-bell.glyph__icon
      span.glyph__name fe-bell
      span.glyph__codepoint f108
    li.glyph__item
      i.fe.fe-birthday-cake.glyph__icon
      span.glyph__name fe-birthday-cake
      span.glyph__codepoint f163
    li.glyph__item
      i.fe.fe-bold.glyph__icon
      span.glyph__name fe-bold
      span.glyph__codepoint f179
    li.glyph__item
      i.fe.fe-book.glyph__icon
      span.glyph__name fe-book
      span.glyph__codepoint f109
    li.glyph__item
      i.fe.fe-bookmark.glyph__icon
      span.glyph__name fe-bookmark
      span.glyph__codepoint f170
    li.glyph__item
      i.fe.fe-browser.glyph__icon
      span.glyph__name fe-browser
      span.glyph__codepoint f10b
    li.glyph__item
      i.fe.fe-brush.glyph__icon
      span.glyph__name fe-brush
      span.glyph__codepoint f10c
    li.glyph__item
      i.fe.fe-bug.glyph__icon
      span.glyph__name fe-bug
      span.glyph__codepoint f10d
    li.glyph__item
      i.fe.fe-building.glyph__icon
      span.glyph__name fe-building
      span.glyph__codepoint f10e
    li.glyph__item
      i.fe.fe-calendar.glyph__icon
      span.glyph__name fe-calendar
      span.glyph__codepoint f10f
    li.glyph__item
      i.fe.fe-camera.glyph__icon
      span.glyph__name fe-camera
      span.glyph__codepoint f110
    li.glyph__item
      i.fe.fe-check.glyph__icon
      span.glyph__name fe-check
      span.glyph__codepoint f111
    li.glyph__item
      i.fe.fe-check-o.glyph__icon
      span.glyph__name fe-check-o
      span.glyph__codepoint f112
    li.glyph__item
      i.fe.fe-clock.glyph__icon
      span.glyph__name fe-clock
      span.glyph__codepoint f113
    li.glyph__item
      i.fe.fe-close.glyph__icon
      span.glyph__name fe-close
      span.glyph__codepoint f114
    li.glyph__item
      i.fe.fe-cloud.glyph__icon
      span.glyph__name fe-cloud
      span.glyph__codepoint f115
    li.glyph__item
      i.fe.fe-cocktail.glyph__icon
      span.glyph__name fe-cocktail
      span.glyph__codepoint f116
    li.glyph__item
      i.fe.fe-code.glyph__icon
      span.glyph__name fe-code
      span.glyph__codepoint f117
    li.glyph__item
      i.fe.fe-coffee.glyph__icon
      span.glyph__name fe-coffee
      span.glyph__codepoint f166
    li.glyph__item
      i.fe.fe-columns.glyph__icon
      span.glyph__name fe-columns
      span.glyph__codepoint f118
    li.glyph__item
      i.fe.fe-comment.glyph__icon
      span.glyph__name fe-comment
      span.glyph__codepoint f119
    li.glyph__item
      i.fe.fe-commenting.glyph__icon
      span.glyph__name fe-commenting
      span.glyph__codepoint f11a
    li.glyph__item
      i.fe.fe-comments.glyph__icon
      span.glyph__name fe-comments
      span.glyph__codepoint f11b
    li.glyph__item
      i.fe.fe-desktop.glyph__icon
      span.glyph__name fe-desktop
      span.glyph__codepoint f11d
    li.glyph__item
      i.fe.fe-diamond.glyph__icon
      span.glyph__name fe-diamond
      span.glyph__codepoint f11e
    li.glyph__item
      i.fe.fe-disabled.glyph__icon
      span.glyph__name fe-disabled
      span.glyph__codepoint f11f
    li.glyph__item
      i.fe.fe-download.glyph__icon
      span.glyph__name fe-download
      span.glyph__codepoint f120
    li.glyph__item
      i.fe.fe-drop-down.glyph__icon
      span.glyph__name fe-drop-down
      span.glyph__codepoint f121
    li.glyph__item
      i.fe.fe-drop-left.glyph__icon
      span.glyph__name fe-drop-left
      span.glyph__codepoint f122
    li.glyph__item
      i.fe.fe-drop-right.glyph__icon
      span.glyph__name fe-drop-right
      span.glyph__codepoint f123
    li.glyph__item
      i.fe.fe-drop-up.glyph__icon
      span.glyph__name fe-drop-up
      span.glyph__codepoint f124
    li.glyph__item
      i.fe.fe-elipsis-h.glyph__icon
      span.glyph__name fe-elipsis-h
      span.glyph__codepoint f125
    li.glyph__item
      i.fe.fe-elipsis-v.glyph__icon
      span.glyph__name fe-elipsis-v
      span.glyph__codepoint f126
    li.glyph__item
      i.fe.fe-export.glyph__icon
      span.glyph__name fe-export
      span.glyph__codepoint f16e
    li.glyph__item
      i.fe.fe-eye.glyph__icon
      span.glyph__name fe-eye
      span.glyph__codepoint f127
    li.glyph__item
      i.fe.fe-feather.glyph__icon
      span.glyph__name fe-feather
      span.glyph__codepoint f174
    li.glyph__item
      i.fe.fe-feed.glyph__icon
      span.glyph__name fe-feed
      span.glyph__codepoint f128
    li.glyph__item
      i.fe.fe-filter.glyph__icon
      span.glyph__name fe-filter
      span.glyph__codepoint f173
    li.glyph__item
      i.fe.fe-flag.glyph__icon
      span.glyph__name fe-flag
      span.glyph__codepoint f129
    li.glyph__item
      i.fe.fe-folder.glyph__icon
      span.glyph__name fe-folder
      span.glyph__codepoint f12a
    li.glyph__item
      i.fe.fe-folder-open.glyph__icon
      span.glyph__name fe-folder-open
      span.glyph__codepoint f176
    li.glyph__item
      i.fe.fe-fork.glyph__icon
      span.glyph__name fe-fork
      span.glyph__codepoint f12b
    li.glyph__item
      i.fe.fe-globe.glyph__icon
      span.glyph__name fe-globe
      span.glyph__codepoint f12c
    li.glyph__item
      i.fe.fe-hash.glyph__icon
      span.glyph__name fe-hash
      span.glyph__codepoint f12d
    li.glyph__item
      i.fe.fe-heart.glyph__icon
      span.glyph__name fe-heart
      span.glyph__codepoint f12e
    li.glyph__item
      i.fe.fe-heart-o.glyph__icon
      span.glyph__name fe-heart-o
      span.glyph__codepoint f167
    li.glyph__item
      i.fe.fe-home.glyph__icon
      span.glyph__name fe-home
      span.glyph__codepoint f12f
    li.glyph__item
      i.fe.fe-import.glyph__icon
      span.glyph__name fe-import
      span.glyph__codepoint f16f
    li.glyph__item
      i.fe.fe-info.glyph__icon
      span.glyph__name fe-info
      span.glyph__codepoint f130
    li.glyph__item
      i.fe.fe-key.glyph__icon
      span.glyph__name fe-key
      span.glyph__codepoint f131
    li.glyph__item
      i.fe.fe-keyboard.glyph__icon
      span.glyph__name fe-keyboard
      span.glyph__codepoint f132
    li.glyph__item
      i.fe.fe-laptop.glyph__icon
      span.glyph__name fe-laptop
      span.glyph__codepoint f133
    li.glyph__item
      i.fe.fe-layout.glyph__icon
      span.glyph__name fe-layout
      span.glyph__codepoint f134
    li.glyph__item
      i.fe.fe-line-chart.glyph__icon
      span.glyph__name fe-line-chart
      span.glyph__codepoint f135
    li.glyph__item
      i.fe.fe-link.glyph__icon
      span.glyph__name fe-link
      span.glyph__codepoint f136
    li.glyph__item
      i.fe.fe-link-external.glyph__icon
      span.glyph__name fe-link-external
      span.glyph__codepoint f137
    li.glyph__item
      i.fe.fe-location.glyph__icon
      span.glyph__name fe-location
      span.glyph__codepoint f138
    li.glyph__item
      i.fe.fe-lock.glyph__icon
      span.glyph__name fe-lock
      span.glyph__codepoint f139
    li.glyph__item
      i.fe.fe-login.glyph__icon
      span.glyph__name fe-login
      span.glyph__codepoint f13a
    li.glyph__item
      i.fe.fe-logout.glyph__icon
      span.glyph__name fe-logout
      span.glyph__codepoint f13b
    li.glyph__item
      i.fe.fe-magic.glyph__icon
      span.glyph__name fe-magic
      span.glyph__codepoint f177
    li.glyph__item
      i.fe.fe-mail.glyph__icon
      span.glyph__name fe-mail
      span.glyph__codepoint f13c
    li.glyph__item
      i.fe.fe-map.glyph__icon
      span.glyph__name fe-map
      span.glyph__codepoint f16d
    li.glyph__item
      i.fe.fe-medal.glyph__icon
      span.glyph__name fe-medal
      span.glyph__codepoint f13d
    li.glyph__item
      i.fe.fe-megaphone.glyph__icon
      span.glyph__name fe-megaphone
      span.glyph__codepoint f13e
    li.glyph__item
      i.fe.fe-mention.glyph__icon
      span.glyph__name fe-mention
      span.glyph__codepoint f164
    li.glyph__item
      i.fe.fe-minus.glyph__icon
      span.glyph__name fe-minus
      span.glyph__codepoint f140
    li.glyph__item
      i.fe.fe-mobile.glyph__icon
      span.glyph__name fe-mobile
      span.glyph__codepoint f141
    li.glyph__item
      i.fe.fe-mouse.glyph__icon
      span.glyph__name fe-mouse
      span.glyph__codepoint f142
    li.glyph__item
      i.fe.fe-music.glyph__icon
      span.glyph__name fe-music
      span.glyph__codepoint f175
    li.glyph__item
      i.fe.fe-palette.glyph__icon
      span.glyph__name fe-palette
      span.glyph__codepoint f165
    li.glyph__item
      i.fe.fe-paper-plane.glyph__icon
      span.glyph__name fe-paper-plane
      span.glyph__codepoint f178
    li.glyph__item
      i.fe.fe-pencil.glyph__icon
      span.glyph__name fe-pencil
      span.glyph__codepoint f144
    li.glyph__item
      i.fe.fe-phone.glyph__icon
      span.glyph__name fe-phone
      span.glyph__codepoint f145
    li.glyph__item
      i.fe.fe-pie-chart.glyph__icon
      span.glyph__name fe-pie-chart
      span.glyph__codepoint f146
    li.glyph__item
      i.fe.fe-pizza.glyph__icon
      span.glyph__name fe-pizza
      span.glyph__codepoint f147
    li.glyph__item
      i.fe.fe-plus.glyph__icon
      span.glyph__name fe-plus
      span.glyph__codepoint f148
    li.glyph__item
      i.fe.fe-print.glyph__icon
      span.glyph__name fe-print
      span.glyph__codepoint f171
    li.glyph__item
      i.fe.fe-prototype.glyph__icon
      span.glyph__name fe-prototype
      span.glyph__codepoint f149
    li.glyph__item
      i.fe.fe-question.glyph__icon
      span.glyph__name fe-question
      span.glyph__codepoint f14a
    li.glyph__item
      i.fe.fe-quote-left.glyph__icon
      span.glyph__name fe-quote-left
      span.glyph__codepoint f14b
    li.glyph__item
      i.fe.fe-quote-right.glyph__icon
      span.glyph__name fe-quote-right
      span.glyph__codepoint f14c
    li.glyph__item
      i.fe.fe-rocket.glyph__icon
      span.glyph__name fe-rocket
      span.glyph__codepoint f14d
    li.glyph__item
      i.fe.fe-search.glyph__icon
      span.glyph__name fe-search
      span.glyph__codepoint f14e
    li.glyph__item
      i.fe.fe-search-minus.glyph__icon
      span.glyph__name fe-search-minus
      span.glyph__codepoint f16a
    li.glyph__item
      i.fe.fe-search-plus.glyph__icon
      span.glyph__name fe-search-plus
      span.glyph__codepoint f16b
    li.glyph__item
      i.fe.fe-share.glyph__icon
      span.glyph__name fe-share
      span.glyph__codepoint f14f
    li.glyph__item
      i.fe.fe-shield.glyph__icon
      span.glyph__name fe-shield
      span.glyph__codepoint f172
    li.glyph__item
      i.fe.fe-sitemap.glyph__icon
      span.glyph__name fe-sitemap
      span.glyph__codepoint f150
    li.glyph__item
      i.fe.fe-star.glyph__icon
      span.glyph__name fe-star
      span.glyph__codepoint f151
    li.glyph__item
      i.fe.fe-star-o.glyph__icon
      span.glyph__name fe-star-o
      span.glyph__codepoint f168
    li.glyph__item
      i.fe.fe-tablet.glyph__icon
      span.glyph__name fe-tablet
      span.glyph__codepoint f152
    li.glyph__item
      i.fe.fe-tag.glyph__icon
      span.glyph__name fe-tag
      span.glyph__codepoint f153
    li.glyph__item
      i.fe.fe-terminal.glyph__icon
      span.glyph__name fe-terminal
      span.glyph__codepoint f154
    li.glyph__item
      i.fe.fe-ticket.glyph__icon
      span.glyph__name fe-ticket
      span.glyph__codepoint f155
    li.glyph__item
      i.fe.fe-tiled.glyph__icon
      span.glyph__name fe-tiled
      span.glyph__codepoint f156
    li.glyph__item
      i.fe.fe-trash.glyph__icon
      span.glyph__name fe-trash
      span.glyph__codepoint f157
    li.glyph__item
      i.fe.fe-trophy.glyph__icon
      span.glyph__name fe-trophy
      span.glyph__codepoint f158
    li.glyph__item
      i.fe.fe-unlock.glyph__icon
      span.glyph__name fe-unlock
      span.glyph__codepoint f169
    li.glyph__item
      i.fe.fe-upload.glyph__icon
      span.glyph__name fe-upload
      span.glyph__codepoint f159
    li.glyph__item
      i.fe.fe-user.glyph__icon
      span.glyph__name fe-user
      span.glyph__codepoint f15a
    li.glyph__item
      i.fe.fe-user-minus.glyph__icon
      span.glyph__name fe-user-minus
      span.glyph__codepoint f16c
    li.glyph__item
      i.fe.fe-user-plus.glyph__icon
      span.glyph__name fe-user-plus
      span.glyph__codepoint f15b
    li.glyph__item
      i.fe.fe-users.glyph__icon
      span.glyph__name fe-users
      span.glyph__codepoint f15c
    li.glyph__item
      i.fe.fe-vector.glyph__icon
      span.glyph__name fe-vector
      span.glyph__codepoint f15d
    li.glyph__item
      i.fe.fe-video.glyph__icon
      span.glyph__name fe-video
      span.glyph__codepoint f15e
    li.glyph__item
      i.fe.fe-warning.glyph__icon
      span.glyph__name fe-warning
      span.glyph__codepoint f15f
    li.glyph__item
      i.fe.fe-wearable.glyph__icon
      span.glyph__name fe-wearable
      span.glyph__codepoint f160
    li.glyph__item
      i.fe.fe-wine-glass.glyph__icon
      span.glyph__name fe-wine-glass
      span.glyph__codepoint f161
    li.glyph__item
      i.fe.fe-wrench.glyph__icon
      span.glyph__name fe-wrench
      span.glyph__codepoint f162
        
    
