extends inc/core/_base
block title
  title= page.top.title
block prepend meta
  - var bodyClass = 'home'
block append meta
block body
  block content
    .glyph
      ul.glyph__list
        li.glyph__item
          span.fe.fe-#{}
          span.glyph__name fe-#{}
          span.glyph__codepoint #{}
block append scriptFooter
