extends inc/layouts/_application
block title
  title= page.top.title
block prepend meta
  - var bodyClass = 'home'
block append meta
block body
  include inc/layouts/_header
  .l-main
    .glyph
      include inc/modules/_icons
  include inc/layouts/_footer
block append scriptFooter
