@charset "utf-8";

//
// core
// -------------------------------------------------------------------
@import 'core/config';
@import 'core/placeholder';
// @import 'core/mixins';
@import 'core/default';

//
// layouts
// -------------------------------------------------------------------
@import 'layouts/*';

//
// modules
// -------------------------------------------------------------------
@import 'modules/*';

//
// styles
// -------------------------------------------------------------------
@import 'styles/*';
